.convert__button {
    top: 32%;
    position: relative;
    z-index: 11;
    right: 390%;

    button {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        border: none;
        background-color: var(--secondary-dark);

        img {
            filter: contrast(0%);
        }
        transition: ease-in-out 0.5s;

        &:hover {
            transform: rotate(180deg) scale(0.9);
        }
        &:active {
            transition: ease-in-out 0.1s;
            transform: rotate(180deg) scale(0.85);
        }
    }
}
